# Exercise - Arithmetic and Variables

### Question 1

In [3]:
print("Hello, world!")

Hello, world!

### Question 2

In [4]:
# TODO: Change the message
print("Hello, World! I am learning how to code :D")

Hello, World! I am learning how to code :D

### Question 3

In [6]:
# Uncomment to get a hint
print("Hello")

# Uncomment to view solution
print("Hello, world!")

# DO NOT REMOVE: Check your answer
print("Hello, Python!")

Hello
Hello, world!
Hello, Python!

### Question 4

In the tutorial, you defined several variables to calculate the total number of seconds in a year. Run the next code cell to do the calculation here.

In [7]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

Use the next code cell to:

- Define a variable births_per_min and set it to 250. (There are on average 250 babies born each minute.)
- Define a variable births_per_day that contains the average number of babies born each day. (To set the value of this variable, you should use births_per_min and some of the variables from the previous code cell.)
Remember you can always get a hint if you need it!

In [9]:
# Set the value of the births_per_min variable
births_per_min = 250

# Set the value of the births_per_day variable
births_per_day = mins_per_hour * hours_per_day * births_per_min

# DO NOT REMOVE: Check your answer
print(births_per_day)

360000

# üå∂Ô∏è Question 5

(Questions marked with a üå∂Ô∏è will be a little bit more challenging than the others!  Remember you can always get a hint or view the solution.)

The [Titanic competition](https://www.kaggle.com/c/titanic) is Kaggle's most famous data science competition. In this competition, participants are challenged to build a machine learning model that can predict whether or not passengers survived the Titanic shipwreck, based on information like age, sex, family size, and ticket number.

Run the next code cell without changes to load and preview the titanic data.

Don't worry about the details of the code for now - the end result is just that the all of the titanic data has been loaded in a variable named `titanic_data`.  (In order to learn how to write this code yourself, you can take the [Python course](https://www.kaggle.com/learn/python) and then the [Pandas course](https://www.kaggle.com/learn/pandas).)

In [3]:
# Load the data from the titanic competition
import pandas as pd
titanic_data = pd.read_csv("./titanic/train.csv")

# Show the first five rows of the data
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)

# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

891
342
113

In [5]:
# Fill in the value of the survived_fraction variable
survived_fraction = survived / total

# Print the value of the variable
print(survived_fraction)

# Fill in the value of the minors_fraction variable
minors_fraction = minors / total 

# Print the value of the variable
print(minors_fraction)

0.3838383838383838
0.12682379349046016